<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.tomoyukikashiro.pivotaltracker-alfred-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>11514A1F-0510-4FE9-A3D5-3393AD7E4584</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE83F046-5891-4F1D-A543-D5E78F7D2830</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12AD42E4-B2DB-4644-90AE-A8B42899268C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AC9205B-BE67-42FC-A16D-C0DB8B68B0C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18EE7009-5282-4E90-BBEF-608159EBBA10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>955EAA95-3489-4DF2-AC73-33B1AB7DBF54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BCEB56A-5F97-410A-A8AC-0B02AB0DE130</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1D33FAC-EEA0-411E-AB4A-A548CD5C67D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B096437-223F-4FBC-88B3-E4CBE778CC9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF63CE6C-697E-41A7-9823-E7232B8FC2CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7BC33DD-CE99-4FD2-8410-EBB16C10FBE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE5482A0-16CA-4DE7-8836-4EAEDC5F4994</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D120DB8-2E43-4C38-BACC-8E6C0D723D87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12AD42E4-B2DB-4644-90AE-A8B42899268C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F30042C-C27F-498A-8155-0615F2807004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB63DCD9-9627-4D93-B889-724E833471AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71A6B233-3EDE-4DA4-8696-4451C7F3DD69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C354FCD-1758-4C34-ADED-FB37AE117843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>731146B6-E73F-4991-8453-5C4147DEFEFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BCEB56A-5F97-410A-A8AC-0B02AB0DE130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>955EAA95-3489-4DF2-AC73-33B1AB7DBF54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B951F523-85A3-44DE-B864-12CAD9CFB596</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C83D0488-4425-4944-BE36-DAC7306D509E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6D120DB8-2E43-4C38-BACC-8E6C0D723D87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71A6B233-3EDE-4DA4-8696-4451C7F3DD69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1D33FAC-EEA0-411E-AB4A-A548CD5C67D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>955EAA95-3489-4DF2-AC73-33B1AB7DBF54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A30EB1C9-A88C-4EC1-B5FF-8931F1BA73F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACC544F5-6B86-4F59-AB6C-C0C66563232D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7BC33DD-CE99-4FD2-8410-EBB16C10FBE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0D386A4-315E-4DA3-9FAF-49EF8DACA59B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE5482A0-16CA-4DE7-8836-4EAEDC5F4994</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24DAC3E0-4B37-437B-AD44-B75A87DDD0EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B951F523-85A3-44DE-B864-12CAD9CFB596</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD375601-CC4D-472A-BE33-8CE78FC6F60B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C83D0488-4425-4944-BE36-DAC7306D509E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A30EB1C9-A88C-4EC1-B5FF-8931F1BA73F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD375601-CC4D-472A-BE33-8CE78FC6F60B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11514A1F-0510-4FE9-A3D5-3393AD7E4584</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD803874-8024-402D-8063-4C8310AA5AAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18EE7009-5282-4E90-BBEF-608159EBBA10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF63CE6C-697E-41A7-9823-E7232B8FC2CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F30042C-C27F-498A-8155-0615F2807004</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0D386A4-315E-4DA3-9FAF-49EF8DACA59B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE4ECCB7-1BF2-495E-BA60-DC016194C789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE83F046-5891-4F1D-A543-D5E78F7D2830</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B096437-223F-4FBC-88B3-E4CBE778CC9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tomoyuki Kashiro</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pivotaltracker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>#{var:story_id}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F30042C-C27F-498A-8155-0615F2807004</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>copied story ID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB63DCD9-9627-4D93-B889-724E833471AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy story ID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DF63CE6C-697E-41A7-9823-E7232B8FC2CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>search pivotal project</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DD803874-8024-402D-8063-4C8310AA5AAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>project_id</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>18EE7009-5282-4E90-BBEF-608159EBBA10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:base_url}/{var:project_id}/stories/{var:story_id}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E0D386A4-315E-4DA3-9FAF-49EF8DACA59B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>copied story URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AE4ECCB7-1BF2-495E-BA60-DC016194C789</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>import sys
import os
import urllib2
import json

token = os.environ['token']
api_url = os.environ['api_url']
project_id = os.environ['project_id']
scope = os.environ['scope']


headers = {'X-TrackerToken' : token, 'X-Tracker-Pagination-Limit': 300}

if scope == 'all':
	request = urllib2.Request('{}/projects/{}/stories'.format(api_url, project_id), headers=headers)
	stories = json.loads(urllib2.urlopen(request).read())
else:
	request = urllib2.Request('{}/projects/{}/iterations?scope={}'.format(api_url, project_id, scope), headers=headers)
	stories = json.loads(urllib2.urlopen(request).read())[0].get('stories', [])

def make_item(s):
	return {
		'title': s['name'],
		'subtitle': 'STATUS: {}  /  LABLES: {}'.format(s['current_state'], ', '.join([ l['name'] for l in s['labels']])),
		'arg': s['id'],
		'icon': {'type': 'default', 'path': '{}.png'.format(s['story_type'])},
		'autocomplete': '{} {}'.format(s['name'], s['story_type']),
		'text': {'copy': s['url']},
		'quicklookurl': s['url']
	}

formatted_stories = [ make_item(s) for s in stories ]

sys.stdout.write(json.dumps({'items': formatted_stories}))
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search PivotalTracker Stories</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>11514A1F-0510-4FE9-A3D5-3393AD7E4584</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"d37b20d6eb9ad6304495cc798e6dd622d12fae17.png","title":"Open story","arg":"{var:base_url}\/{var:project_id}\/stories\/{var:story_id}","subtitle":"{var:base_url}\/{var:project_id}\/stories\/{var:story_id}"},{"imagefile":"9cbfb932ee849aba83cbd67de0b11cfb19984535.png","title":"Copy story ID","arg":"copy story ID","subtitle":"#{var:story_id}"},{"imagefile":"9cbfb932ee849aba83cbd67de0b11cfb19984535.png","title":"Copy story URL","arg":"copy story URL","subtitle":"{var:base_url}\/{var:project_id}\/stories\/{var:story_id}"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>next...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6B096437-223F-4FBC-88B3-E4CBE778CC9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(current|backlog|all)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B951F523-85A3-44DE-B864-12CAD9CFB596</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>story_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FE83F046-5891-4F1D-A543-D5E78F7D2830</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy story URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A7BC33DD-CE99-4FD2-8410-EBB16C10FBE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>scope</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD375601-CC4D-472A-BE33-8CE78FC6F60B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>PivotalTracker</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>731146B6-E73F-4991-8453-5C4147DEFEFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"64a85351ca18e350ef92124c4a07c2249b694793.png","title":"Search current stories","arg":"current"},{"imagefile":"64a85351ca18e350ef92124c4a07c2249b694793.png","title":"Search backlog stories","arg":"backlog"},{"imagefile":"64a85351ca18e350ef92124c4a07c2249b694793.png","title":"Search all stories","arg":"all"},{"imagefile":"d37b20d6eb9ad6304495cc798e6dd622d12fae17.png","title":"Open project","arg":"{var:base_url}\/{var:project_id}","subtitle":"{var:base_url}\/{var:project_id}"},{"imagefile":"9cbfb932ee849aba83cbd67de0b11cfb19984535.png","title":"Copy project ID","arg":"copy project ID","subtitle":"#{var:project_id}"},{"imagefile":"9cbfb932ee849aba83cbd67de0b11cfb19984535.png","title":"Copy project URL","arg":"copy project URL","subtitle":"{var:base_url}\/{var:project_id}"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>next...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>955EAA95-3489-4DF2-AC73-33B1AB7DBF54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>import sys
import os
import urllib2
import json

token = os.environ['token']
api_url = os.environ['api_url']
base_url = os.environ['base_url']

request = urllib2.Request("{}/projects".format(api_url), headers={"X-TrackerToken" : token})
projects = json.loads(urllib2.urlopen(request).read())

def make_item(p):
	url = '{}/{}'.format(base_url, p['id'])
	return {
		'title': p['name'],
		'subtitle': p.get('description', ''),
		'arg': p['id'],
		'icon': {}, 
		'autocomplete': '{}/{}'.format(p['name'], p.get('description', '')),
		'text': {'copy': url},
		'quicklookurl': url
	}

formatted_projects = [ make_item(p) for p in projects ]

sys.stdout.write(json.dumps({'items': formatted_projects}))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search PivotalTracker Projects</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3BCEB56A-5F97-410A-A8AC-0B02AB0DE130</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>project_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A1D33FAC-EEA0-411E-AB4A-A548CD5C67D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>24DAC3E0-4B37-437B-AD44-B75A87DDD0EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:base_url}/{var:project_id}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A30EB1C9-A88C-4EC1-B5FF-8931F1BA73F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>copied project URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ACC544F5-6B86-4F59-AB6C-C0C66563232D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^https:\/\/*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AE5482A0-16CA-4DE7-8836-4EAEDC5F4994</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy project URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C83D0488-4425-4944-BE36-DAC7306D509E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>#{var:project_id}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>12AD42E4-B2DB-4644-90AE-A8B42899268C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>copied project ID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9AC9205B-BE67-42FC-A16D-C0DB8B68B0C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy project ID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6D120DB8-2E43-4C38-BACC-8E6C0D723D87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1C354FCD-1758-4C34-ADED-FB37AE117843</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^https:\/\/*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>71A6B233-3EDE-4DA4-8696-4451C7F3DD69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow allow you to search projects/stories in alfread then copy those ID/URL and open in browser.</string>
	<key>uidata</key>
	<dict>
		<key>11514A1F-0510-4FE9-A3D5-3393AD7E4584</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>12AD42E4-B2DB-4644-90AE-A8B42899268C</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>18EE7009-5282-4E90-BBEF-608159EBBA10</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>1C354FCD-1758-4C34-ADED-FB37AE117843</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>24DAC3E0-4B37-437B-AD44-B75A87DDD0EF</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>3BCEB56A-5F97-410A-A8AC-0B02AB0DE130</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>6B096437-223F-4FBC-88B3-E4CBE778CC9B</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>6D120DB8-2E43-4C38-BACC-8E6C0D723D87</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>6F30042C-C27F-498A-8155-0615F2807004</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>71A6B233-3EDE-4DA4-8696-4451C7F3DD69</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>731146B6-E73F-4991-8453-5C4147DEFEFD</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>955EAA95-3489-4DF2-AC73-33B1AB7DBF54</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>9AC9205B-BE67-42FC-A16D-C0DB8B68B0C4</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>A1D33FAC-EEA0-411E-AB4A-A548CD5C67D9</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>A30EB1C9-A88C-4EC1-B5FF-8931F1BA73F9</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>A7BC33DD-CE99-4FD2-8410-EBB16C10FBE2</key>
		<dict>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>ACC544F5-6B86-4F59-AB6C-C0C66563232D</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>AE4ECCB7-1BF2-495E-BA60-DC016194C789</key>
		<dict>
			<key>xpos</key>
			<integer>1340</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>AE5482A0-16CA-4DE7-8836-4EAEDC5F4994</key>
		<dict>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>B951F523-85A3-44DE-B864-12CAD9CFB596</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C83D0488-4425-4944-BE36-DAC7306D509E</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>CD375601-CC4D-472A-BE33-8CE78FC6F60B</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>DB63DCD9-9627-4D93-B889-724E833471AB</key>
		<dict>
			<key>xpos</key>
			<integer>1340</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>DD803874-8024-402D-8063-4C8310AA5AAA</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>DF63CE6C-697E-41A7-9823-E7232B8FC2CF</key>
		<dict>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E0D386A4-315E-4DA3-9FAF-49EF8DACA59B</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>FE83F046-5891-4F1D-A543-D5E78F7D2830</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>api_url</key>
		<string>https://www.pivotaltracker.com/services/v5</string>
		<key>base_url</key>
		<string>https://www.pivotaltracker.com/n/projects</string>
		<key>token</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/tomoyukikashiro/pivotaltracker-alfred-workflow</string>
</dict>
</plist>
